/**
 * "collection" page styles
 *
 * @author Viacheslav Lotsmanov
 */

html.collection_page body {
	.collection_page_headline { // {{{1
		.resetCSS;
		.fontMetrics(0, 0);
		margin-top: @headerHeight + 42px;
		min-width: @minWidth;
		max-width: @maxWidth - ((@mainMargin2 - @mainMargin) * 2);
		padding: 0 @mainMargin;
		margin-left: auto;
		margin-right: auto;
		.box-sizing(border-box);
		.relative;

		h1 {
			.resetCSS;
			max-width: none;
		}

		a.about_brand {
			@s: 57px;

			.linkNoLine;
			display: block;
			.absolute((-78px + 69px), @mainMargin);
			.size(auto, @s);
			white-space: nowrap;
			vertical-align: middle;

			& > img {
				display: inline-block;
				.size(@s);
				.border-radius(@s / 2);
				vertical-align: middle;
			}

			& > span {
				display: inline-block;
				text-transform: uppercase;
				white-space: nowrap;
				.sansSerifFont('Roboto-Light', 24px);
				vertical-align: middle;
				margin-left: 10px;
				color: @contentColor;
				border-bottom: 1px solid @linkColorUnderline;
				.transit(~'color, border-bottom-color');
			}

			&:hover > span {
				color: @activeLinkColor;
				border-bottom-color: @activeLinkColorUnderline;
			}
		}
	} // .collection_page_headline }}}1

	main {
		ul.collection_list { // {{{1
			.resetCSS;
			min-width: @minWidth;
			max-width: @maxWidth - ((@mainMargin2 - @mainMargin) * 2);
			padding: 0 @mainMargin;
			.box-sizing(border-box);
			margin: 0 auto;
			.fontMetrics(0, 0);

			@min: 208px;

			&>li {
				.resetCSS;
				.size(33%, @min);
				display: inline-block;
				text-align: center;
				margin-top: 75px;

				&:before, &:after { display: none; }

				.preview {
					display: block;
					.relative;
					.size(@min);
					margin: 0 auto;

					img {
						display: block;
						.size(100%, auto);
						.absolute(0, auto, auto, 0);
					}
				}
			} // &>li
		} // ul.collection_list }}}1

		a.load_more {
			.circleDownArrowButton();
			display: block;
			margin: 0 auto;
		}

		ul.collection_list + a.load_more {
			margin-top: 75px;
		}
	} // main
} // html.collection_page body
