/**
 * "events" pages styles
 *
 * @author Viacheslav Lotsmanov
 */

html body main section.events_list { // {{{1
	display: block;
	.fontMetrics(0,0);

	& > .event_item {
		display: block;

		// title {{{2
		h3 {
			.resetCSS;
			display: block;
			.sansSerifFont('Roboto-Light', 29px, 38px);
			color: @contentColor;
			text-transform: uppercase;
			font-weight: normal;

			span {
				border-bottom: 1px solid @bgColor;
			}

			a {
				.linkNoLine;

				span {
					color: @contentColor;
					border-bottom-color: @linkColorUnderline;
					.transit(~'color, border-bottom-color');
				}

				&:hover span {
					color: @activeLinkColor;
					border-bottom-color: @activeLinkColorUnderline;
				}
			} // a
		} // title }}}2

		// date {{{2
		h4 {
			display: block;
			.sansSerifFont('Roboto-Light', 18px);
			color: @eventsDateColor;
			text-transform: uppercase;
			padding-top: 29px - 21px - 4px;
		} // date }}}2

		.preview_text { // {{{2
			display: block;
			font: @contentFont;
			padding-top: 37px - 22px;
		} // .preview_text }}}2

		ul.preview_photos { // {{{2
			.resetList;
			display: block;
			white-space: nowrap;
			padding-top: 32px - 6px;

			&>li {
				.resetList;
				@s: @eventsPreviewPictureSize;
				display: none;
				&, img { .size(@s); }

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					display: inline-block;
				}
			}
		} // ul.preview_photos }}}2

		& + .event_item { margin-top: 71px - 26px; }
	} // .event_item

	& > a.load_more {
		.circleDownArrowButton();
		display: block;
		margin: 0 auto;
	}

	& > .event_item + a.load_more { margin-top: 75px; }
} // section.events_list }}}1

html.event_detail_page body { // {{{1
	main { padding-top: 0; }

	h1 {
		display: block;
		.sansSerifFont('Roboto-Light', 29px, 38px);
		color: @contentColor;
		text-transform: uppercase;
		max-width: @minWidth;
	} // h1

	main section.event_detail {
		display: block;
		.fontMetrics(0,0);

		.date {
			display: block;
			.sansSerifFont('Roboto-Light', 18px);
			color: @eventsDateColor;
			text-transform: uppercase;
			padding-top: 29px - 25px;
		}

		.preview_text {
			display: block;
			padding-top: 42px - 22px;
			font: @contentFont;
		}

		ul.preview_photos { // {{{2
			.resetList;
			display: block;
			padding-top: 32px - 6px;
			width: @eventsPreviewPictureSize * 4;

			&>li {
				.resetList;
				@s: @eventsPreviewPictureSize;
				display: inline-block;
				&, img { .size(@s); }
				a { .linkNoLine; }
			}
		} // ul.preview_photos }}}2
	} // section.event_detail
} // html.event_detail_page body }}}1
