/**
 * Main page styles
 *
 * @author Viacheslav Lotsmanov
 */

html.main_page body main {
	.fontMetrics(0, 0);
	margin: 0 auto;
	min-width: @minWidth;
	max-width: none;
	padding-left: 0;
	padding-right: 0;

	section.top_card { // {{{1
		min-height: @mainPageCardHeightMin;
		margin-top: -@headerHeight;
		margin-bottom: @headerHeight;
		.background-image(linear-gradient(to bottom, #fff 0%, @bgColor 100%));
		.relative;

		div.logo { // {{{2
			padding-top: 32px;
			padding-left: @mainPageLogoLeft;
			z-index: 1;

			img.logo {
				display: block;
				.size(@mainPageLogoWidthMin, auto);
			}

			.istablish {
				display: block;
				.size(@mainPageLogoWidthMin, auto);
				.sansSerifFont('Roboto', 11px);
				color: #a69a96;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				margin-top: 16px;
			}
		} // div.logo }}}2

		.slider { // {{{2
			display: block;
			.size(@mainPagePictureWidthMin, auto);
			.absolute(@mainPagePictureTopMin, auto, auto, 50%);
			margin-left: -(@mainPagePictureWidthMin / 2) + @mainPagePictureLeftOffsetMax;
			z-index: 0;

			img {
				display: block;
				.absolute(0, auto, auto, 0);
				.size(100%, auto);
				.opacity(0);
				.transition(opacity @animationSpeed*4 @animationCurve);

				&.current { .opacity(1); }
			}
		} // .slider }}}2

		.next_card { // {{{2
			.linkNoLine;
			display: block;
			.size(@mainPageNextCardSizeMin);
			.absolute(auto, auto, @mainPageNextCardBottomMin, 50%);
			margin-left: -(@mainPageNextCardSizeMin / 2);
			background: @mainPageNextCardBgColor;
			.border-radius(@mainPageNextCardSizeMin / 2);
			.transit(~'background-color');
			z-index: 2;
			&:hover { background: @mainPageNextCardHoverBgColor; }

			& > span {
				&, &:before { .sprite(@sprite_icons_arrow_down); }
				&:after { .sprite(@sprite_icons_arrow_down_active); }
				background: none;
				display: block;
				.animatedIcon;
				.absolute(50%, auto, auto, 50%);
				margin-left: -(@sprite_icons_arrow_down-width / 2);
				margin-top: -(@sprite_icons_arrow_down-height / 2) + 2px;
			}

			&:hover {
				&>span:before { .opacity(0); }
				&>span:after { .opacity(1); }
			}
		} // .next_card }}}2
	} // section.card_1 }}}1

	section.brands { // {{{1
		ul.brands_list {
			&, &>li {
				.resetList;
				display: block;
			}

			&>li {
				border-bottom: 1px solid @mainPageBrandBorderColor;
				&:first-child { padding-top: 15px; }

				&, &>a {
					.sansSerifFont('Roboto-Thin', @mainPageBrandFontSizeMin, @mainPageBrandLineHeightMin);
					color: @mainPageBrandColor;
					text-transform: uppercase;
					text-align: center;
				}

				&>a {
					.linkNoLine;
					display: block;
					color: @mainPageBrandColor;
					.transit(~'background-color, color');

					&:hover {
						color: @mainPageBrandHoverColor;
						background: @mainPageBrandHoverBgColor;
					}
				}
			} // &>li
		} // ul.brands_list
	} // section.brands }}}1
} // html.main_page body main

html.main_page body header {
	.relative(@mainPageCardHeightMin);
} // html.main_page body header

html.main_page.fixed_header body header,
html.fixed_header.main_page body header {
	.fixed(0);
}

html.main_page.fixed_header body main,
html.fixed_header.main_page body main {
	section.top_card { margin-top: 0; }
}
