/**
 * Main page styles
 *
 * @author Viacheslav Lotsmanov
 */

html.main_page body main {
	.fontMetrics(0, 0);
	margin: 0 auto;
	min-width: @minWidth;

	section.card_1 { // {{{1
		min-height: @mainPageCardHeightMin;
		margin-top: -@headerHeight;
		margin-bottom: @headerHeight;

		div.logo {
			padding-top: 32px;
			padding-left: @mainPageLogoLeft;

			img.logo {
				display: block;
				.size(@mainPageLogoWidthMin, auto);
				z-index: 0;
			}

			.istablish {
				display: block;
				.size(@mainPageLogoWidthMin, auto);
				.sansSerifFont('Roboto', 11px);
				color: #a69a96;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				margin-top: 16px;
				z-index: 0;
			}
		}

		img.picture {
			display: block;
			.size(@mainPagePictureWidthMin, auto);
			.absolute(@mainPagePictureTopMin, auto, auto, 50%);
			margin-left: -(@mainPagePictureWidthMin / 2) + @mainPagePictureLeftOffsetMax;
			z-index: -1;
		}
	} // section.card_1 }}}1
} // html.main_page body main
