/**
 * Main page styles
 *
 * @author Viacheslav Lotsmanov
 */

html.main_page body main {
	.fontMetrics(0, 0);
	margin: 0 auto;
	min-width: @minWidth;

	section.top_card { // {{{1
		min-height: @mainPageCardHeightMin;
		margin-top: -@headerHeight;
		margin-bottom: @headerHeight;
		.background-image(linear-gradient(to bottom, #fff 0%, @bgColor 100%));

		div.logo {
			padding-top: 32px;
			padding-left: @mainPageLogoLeft;
			z-index: 1;

			img.logo {
				display: block;
				.size(@mainPageLogoWidthMin, auto);
			}

			.istablish {
				display: block;
				.size(@mainPageLogoWidthMin, auto);
				.sansSerifFont('Roboto', 11px);
				color: #a69a96;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				margin-top: 16px;
			}
		}

		img.picture {
			display: block;
			.size(@mainPagePictureWidthMin, auto);
			.absolute(@mainPagePictureTopMin, auto, auto, 50%);
			margin-left: -(@mainPagePictureWidthMin / 2) + @mainPagePictureLeftOffsetMax;
			z-index: 0;
		}
	} // section.card_1 }}}1

	section.brands { // {{{1
		ul.brands_list {
			&, &>li {
				.resetList;
				display: block;
			}

			&>li {
				border-bottom: 1px solid @mainPageBrandBorderColor;
				&:first-child { padding-top: 15px; }

				&, &>a {
					.sansSerifFont('Roboto-Thin', @mainPageBrandFontSizeMin, @mainPageBrandLineHeightMin);
					color: @mainPageBrandColor;
					text-transform: uppercase;
					text-align: center;
				}

				&>a {
					.linkNoLine;
					display: block;
					color: @mainPageBrandColor;
					.transit(~'background-color, color');

					&:hover {
						color: @mainPageBrandHoverColor;
						background: @mainPageBrandHoverBgColor;
					}
				}
			}
		} // ul.brands_list
	} // section.brands }}}1
} // html.main_page body main
